.channels {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}

.channel {
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 10px 25px 25px 25px;
    text-decoration: none;
    min-width: 340px;
    flex: 1;
    transition-duration: .3s;
    border: none;
    cursor: pointer;
}

.channel:hover {
    transform: scale(.9);
}

.channel__img {
    display: block;
    margin: 0 auto 15px auto;
    border: solid 4px var(--third);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.channel__stats {
    display: flex;
    flex-basis: 33.333%;
    flex-wrap: wrap;
}

.channel__title {
    color: var(--primary);
    font-weight: bold;
    text-align: center;
    font-size: 23.5px;
    margin-bottom: 15px;
}

.stats__child {
    width: 33.333%;
}

.stats__child label {
    color: var(--fourth);
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}

.stats__child label::after {
    content: ":";
}

.stats__child span {
    color: var(--primary);
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 18px;
}

.channel__not_found {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    width: 100%;
}


@media only screen and (max-width: 360px) {
    .channel__img {
        width: 128px;
        height: 128px;
    }
}